# Inflationsberechnung

In [1]:
%load_ext sql
%sql sqlite:///db.sqlite

In [2]:
%reload_ext sql

In [2]:
from pandas import DataFrame, read_sql
from sqlalchemy import create_engine
import datetime

engine = create_engine('sqlite:///db.sqlite', echo=False)

##  Gesamtinflation

Berechnung anhand Vergleich von den Durchschnittspreisen von zwei Monaten

In [3]:
from typing import List

# functions

def average_dish_price(start_date: datetime.date, end_date: datetime.date):
    return read_sql(f"""
    SELECT name_de, avg(priceStudents) as priceStudents FROM dish WHERE restaurant = 'mensa-academica-paderborn' AND category = 'dish' AND date(date) BETWEEN date('{start_date.strftime("%Y-%m-%d")}') AND date('{end_date.strftime("%Y-%m-%d")}') GROUP BY name_de
    """, con=engine)['priceStudents'].mean()

In [5]:
average_dish_price(datetime.date(2023, 1, 1), datetime.date(2023, 1, 31)) / average_dish_price(datetime.date(2023, 9, 1), datetime.date(2023, 9, 3))

1.0222504767959313

In [16]:
import calendar

calendar.monthrange(2002, 1)

(1, 31)